# The directory where the log files are stored
LOG_DIRECTORY='logs/'
# The file used by the http-server to log traffic
LOG_FILE=$LOG_DIRECTORY'http.log'
# The file used by this application to log what it is doing
APP_LOG_FILE=$LOG_DIRECTORY'app.log'
# The directory served by the http-server
WEB_DIRECTORY='web'
# Is there an active site in this directory or no
ACTIVE_SITE=true
# Which template to copy from
TEMPLATE="2"
# Define which service is to be used
HOST_SERVICE='http-server'
# http or https
PROTOCOL='http'
# Host name, used simple for logging at this time
HOST='localhost'
# Port number, duh!
# If you are using the HOST_SERVICE 'harp' do not set the port to 8080 (it seems not to like that)
PORT=8080
# Open a web browser automatically after spawning the service
OPEN_BROWSER=true

# These configuration options are used if you chose http-server
# The directory where your node modules are located
NODE_DIRECTORY="node_modules"
# Allow listing of files, if no index is present
DIRECTORY_LISTING=false
# Automatically redirect to index.html
AUTO_INDEX=true

# These are some look and feel configuration options
# Code for Success (green) Text
TXT_GREEN=$(tput setaf 2)
# Code for Danger (red) Text
TXT_RED=$(tput setaf 1)
# Code for Information (cyan) Text
TXT_BLUE=$(tput setaf 6)
# Code for Warning (orange) Text
TXT_ORANGE=$(tput setaf 3)
# Code for resetting the color after use
TXT_RESET=$(tput sgr0)
